{% extends 'base.html.twig' %}

{% block title %}Hugo approves
{% endblock %}

{% block body %}
	<h1>{{ website }}</h1>

	<img src="{{ asset('Hugo_approves\assets\images\Final_fantasy.jpg') }}" alt="FF"/>
{% endblock %}
