// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(244, 248, 244);
}

.navbar {
    background-color: rgb(230, 245, 230);
}

img {
    width: 300px;
    height: 280px;
}